.field-control,
.fieldset {
	position: relative;
}

.field-control {

	+ .field-control,
	+ .btn-submit {
		margin-top: .625rem;

		@media (min-width: 992px) {
			margin-top: 1rem;
		}
	}
}

.field {
	--_width: 100%;
	--_height: 3.125rem;

	--_fs: .875rem;
	--_fw: var(--fw-base);
	--_lh: var(--lh-base);
	--_ls: var(--ls-base);
	--_color: #6f6f6f;
	--_bg: var(--gray-200);
	--_border-width: 0;
	--_border-solid: solid;
	--_border-color: transparent;
	--_rounded: 1rem;
	--_padding: 1.125rem 1.25rem;

	--_color-hover: var(--text-color);
	--_bg-hover: var(--gray-200);
	--_border-color-hover: transparent;

	--_color-active: var(--text-color);
	--_bg-active: var(--gray-200);
	--_border-color-active: transparent;

	width: var(--_width);
	min-height: var(--_height);
	display: block;
	font-size: var(--_fs);
	font-weight: var(--_fw);
	line-height: var(--_lh);
	letter-spacing: var(--_ls, normal);
	color: var(--_color);
	background-color: var(--_bg);
	border: var(--_border-width) var(--_border-solid) var(--_border-color);
	border-radius: var(--_rounded);
	padding: var(--_padding);
	outline: none;
	appearance: none;
	transition-property: color, background, border;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);

	@media (min-width: 992px) {
		--_height: 4rem;
		--_padding: 1.25rem;
		--_fs: var(--fs-base);
	}

	&::placeholder {
		font: inherit;
		color: currentColor;
	}

	&:focus-visible {
		color: var(--_color-active);
		background-color: var(--_bg-active);
		border-color: var(--_border-color-active);
	}
}

textarea {
	height: 7.5rem;
	resize: none;

	@media (min-width: 992px) {
		height: 10rem;
	}
}

.required {
	font-size: .625rem;
	color: var(--gray-300);
	margin-inline-start: auto;
	margin-bottom: .5rem;
	text-align: end;

	@media (min-width: 992px) {
		font-size: .75rem;
	}
}

.btn-submit {
	--_width: 100%;

	&:not(:first-child) {
		margin-top: 1.5rem;
	}
}

.form-footer {
	display: flex;
	gap: .625rem;
	margin-top: 1.25rem;
}