.hero {

	.decoration {
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		pointer-events: none;
		user-select: none;
		z-index: -1;
	}

	.blob-1 {
		width: 5rem;
		height: 5rem;
		background-image: url(../img/hero/decor-blob-1.webp);
		bottom: 2rem;
		left: -2rem;

		@media (min-width: 992px) {
			width: 9.375rem;
			height: 9.375rem;
			left: -6.25rem;
			bottom: 7.5rem;
		}
	}

	.blob-2 {
		
		@media (min-width: 992px) {
			width: 12.5rem;
			height: 12.5rem;
			background-image: url(../img/hero/decor-blob-2.webp);
			left: 50%;
			top: -8rem;
			transform: translateX(-50%);
		}
	}

	.teeth-1 {
		width: 7rem;
		height: 7rem;
		background-image: url(../img/hero/decor-teeth-1.webp);
		left: -3.5rem;
		top: 50%;
		transform: translateY(-50%);

		@media (min-width: 992px) {
			width: 10rem;
			height: 10rem;
			top: auto;
			bottom: 2rem;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.teeth-2 {
		width: 7rem;
		height: 7rem;
		background-image: url(../img/hero/decor-teeth-2.webp);
		top: 10rem;
		right: -3.25rem;

		@media (min-width: 992px) {
			width: 12.5rem;
			height: 12.5rem;
		}
	}

	&-content {
		min-height: 40rem;
		max-height: 41.25rem;
		height: calc(100vh - var(--header-height) - 3rem);
		height: calc(100svh - var(--header-height) - 3rem);
		height: calc(100dvh - var(--header-height) - 3rem);
		display: flex;
		flex-direction: column;
		background-color: #f9faff;
		border-top-left-radius: 1.25rem;
		border-top-right-radius: 1.25rem;
		border: 1px solid #D3D6E6;
		border-bottom: 0;
		padding: .625rem .625rem 1.25rem;
		position: relative;
		overflow: hidden;
		z-index: 1;

		@media (min-width: 576px) {
			min-height: 31.25rem;
			height: auto;
			height: calc(100vh - var(--header-height) - 3rem);
			height: calc(100svh - var(--header-height) - 3rem);
			height: calc(100dvh - var(--header-height) - 3rem);
		}

		@media (min-width: 992px) {
			height: calc(100vh - var(--header-height) - 2.75rem);
			height: calc(100svh - var(--header-height) - 2.75rem);
			height: calc(100dvh - var(--header-height) - 2.75rem);
			padding: 3.75rem 2.5rem;
		}

		&-picture,
		&-image {
			pointer-events: none;
			user-select: none;
			position: absolute;
			z-index: -1;
		}

		&-picture {
			inset: 0;
		}

		&-image {
			width: 20rem;
			display: block;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);

			@media (min-width: 992px) {
				width: 28.25rem;
				top: -.875rem;
				right: 1.5rem;
				bottom: auto;
				left: auto;
				transform: unset;
			}

			@media (min-width: 1200px) {
				width: 34.25rem;
			}

			@media (min-width: 1400px) {
				width: 41.25rem;
			}
		}

		&-title,
		&-text {
			margin-bottom: .625rem;
			
			@media (min-width: 992px) {
				margin-bottom: 2rem;
			}
		}

		&-title {
			position: relative;
			z-index: 1;

			@media (min-width: 992px) {
				max-width: calc(100% - 24.25rem);
			}

			@media (min-width: 1200px) {
				max-width: calc(100% - 26.25rem);
			}

			@media (min-width: 1400px) {
				max-width: calc(100% - 36.25rem);
			}
		}

		&-text {
			max-width: 28.25rem;
		}

		&-btn {
			position: fixed;
			bottom: 1.25rem;
			left: var(--container-offset);
			right: var(--container-offset);
			z-index: 1000;

			@media (min-width: 992px) {
				max-width: max-content;
				margin-top: auto;
				position: static;
			}
		}
	}

	&-ticker {
		color: var(--light);
		background-color: var(--secondary);
		border: 1px solid #D3D6E6;
		border-top: 0;
		border-bottom-right-radius: 1.25rem;
		border-bottom-left-radius: 1.25rem;
	}

	&-features {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 1rem;
		margin-top: 1.5rem;

		@media (min-width: 992px) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
			gap: 2rem;
			margin-top: 3rem;
		}

		@media (min-width: 1200px) {
			grid-template-columns: repeat(4, minmax(0, 1fr));
			margin-top: 4rem;
		}

		&-item {
			border-radius: 1.25rem;
			position: relative;
			z-index: 1;

			&::after {
				content: '';
				display: block;
				background-color: var(--secondary);
				border-radius: inherit;
				position: absolute;
				inset: 0;
				transform: rotate(-3deg);
				z-index: -1;
				
				@media (min-width: 992px) {
					transform: rotate(-5deg);
				}
			}

			&-content {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				color: var(--secondary);
				background-color: var(--body-bg);
				border-radius: inherit;
				padding: .625rem;
				box-shadow: 0 0 1.25rem .25rem rgba(0, 0, 0, 0.04);
				position: relative;
				z-index: 1;
				overflow: hidden;

				@media (min-width: 992px) {
					padding: 1rem;
				}

				&::after {
					content: '';
					width: 2.25rem;
					height: 2.25rem;
					display: block;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					pointer-events: none;
					user-select: none;
					position: absolute;
					right: 0rem;
					bottom: -.5rem;
					transform: rotate(-16deg);
					z-index: -1;

					@media (min-width: 992px) {
						width: 5rem;
						height: 5rem;
						right: -.5rem;
						bottom: -1rem;
					}
				}
			}

			&-title {
				font-weight: 400;
				letter-spacing: normal;
			}

			&-text {
				font-size: .75rem;
				letter-spacing: -.03em;
				padding-right: 1.25rem;

				@media (min-width: 992px) {
					font-size: 1rem;
					padding-right: 2.25rem;
				}
			}

			&:nth-child(4n + 1) {

				.hero-features-item-content {

					&::after {
						background-image: url(../img/hero/features-1.webp);
					}
				}
			}

			&:nth-child(4n + 2) {

				.hero-features-item-content {

					&::after {
						background-image: url(../img/hero/features-2.webp);
					}
				}
			}

			&:nth-child(4n + 3) {

				.hero-features-item-content {

					&::after {
						background-image: url(../img/hero/features-3.webp);
					}
				}
			}

			&:nth-child(4n + 4) {

				.hero-features-item-content {

					&::after {
						background-image: url(../img/hero/features-4.webp);
					}
				}
			}
		}
	}
}