<footer class="footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-main-top"
        data-transfer-target="btn-up">
        <a href="#" class="brand">
          <picture>
            <source srcset="img/logo.webp" type="image/webp">
            <img loading="lazy" src="img/logo.png" class="image" width="40" height="40" alt="Лого">
          </picture>
          <span>
            ДентаВита
          </span>
        </a>
      </div>

      <div class="footer-main-navbar">
        <ul class="list-reset navbar-nav">
          <li class="nav-item">
            <h3 class="nav-item-title">
              Меню
            </h3>
          </li>
          <li class="nav-item">
            <a href="#" class="btn nav-link">
              Усулги
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="btn nav-link">
              Акции
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="btn nav-link">
              Преимущества
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="btn nav-link">
              О нас
            </a>
          </li>
        </ul>
        <ul class="list-reset navbar-nav">
          <li class="nav-item is-invisible">
            <h3 class="nav-item-title">
              Меню
            </h3>
          </li>
          <li class="nav-item">
            <a href="#" class="btn nav-link">
              Наши технологии
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="btn nav-link">
              Фото
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="btn nav-link">
              Врачи
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-main-socials">
        <ul class="list-reset navbar-nav">
          <li class="nav-item">
            <h3 class="nav-item-title">
              Социальные сети
            </h3>
          </li>
          <li class="nav-item">
            <ul class="list-reset navbar-socials">
              <li class="nav-item">
                <a href="#" class="btn nav-link">
                  <img loading="lazy" src="img/icons/whatsapp-image.svg" class="image" width="24" height="24" alt="Картинка">
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="btn nav-link">
                  <img loading="lazy" src="img/icons/telegram.svg" class="image" width="24" height="24" alt="Картинка">
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="btn nav-link">
                  <img loading="lazy" src="img/icons/youtube.svg" class="image" width="24" height="24" alt="Картинка">
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="btn nav-link">
                  <img loading="lazy" src="img/icons/instagram.svg" class="image" width="24" height="24" alt="Картинка">
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <p class="footer-main-hint">
              Социальная сеть Instagram принадлежит компании Meta Platforms Inc., которая запрещена на территории РФ
            </p>
          </li>
        </ul>

        <a href="#" class="btn btn-up"
          data-transfer-origin="btn-up"
          data-transfer-breakpoint="992">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/arrow-up.svg#svg-arrow-up"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>

    <div class="footer-bottom">
      <p class="footer-copy">
        © ООО «ДентаВита Плюс». Все права защищены
        <br>
        Есть противопоказания. Прокансультируйтесь с врачом.
      </p>

      <ul class="list-reset navbar-nav">
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Лицензии
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Политика конфиденциальности
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
