<header class="header">
  <div class="header-top">
    <div class="container">
      <p class="header-top-start">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/location.svg#svg-location"></use>
          </svg>
        </span>
        Клиника:
        <a href="#" class="btn btn-inherit text-underline">
          На Красных Воротах
        </a>
        <span class="text-color-gray">Хлебный переулок</span>
      </p>

      <p class="header-top-end"
        data-transfer-origin="header-top-end"
        data-transfer-breakpoint="1200">
        <span class="text-color-gray">Пн-Пт. с 8:00 до 21:00</span>

        <a href="tel:+74957349959" class="btn header-phone">
          +7 495 734 99 59
        </a>
      </p>
    </div>
  </div>
  <div class="header-main">
    <div class="container">
      <a href="#" class="brand">
        <picture>
          <source srcset="img/logo.webp" type="image/webp">
          <img loading="lazy" src="img/logo.png" class="image" width="40" height="40" alt="Лого">
        </picture>
        <span>
          ДентаВита
        </span>
      </a>

      <ul class="list-reset navbar-nav"
        data-transfer-origin="navbar-nav"
        data-transfer-breakpoint="1200">
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Услуги
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Акции
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Преимущества
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Методы лечения
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Фото
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Врачи
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            О нас
          </a>
        </li>
      </ul>

      <ul class="list-reset navbar-buttons"
        data-transfer-origin="navbar-buttons"
        data-transfer-breakpoint="1200"
        data-transfer-placement="first">
        <li class="nav-item">
          <a href="#" class="btn btn-base btn-icon nav-link">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
              </svg>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn btn-base btn-light nav-link">
            Записаться

            <span class="icon">
              <svg>
                <use xlink:href="img/icons/plus-circle.svg#svg-plus-circle"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>

      <button class="btn btn-menu" type="button"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvas-navigation"
        aria-controls="Навигационное меню">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/menu.svg#svg-menu"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</header>