<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@title</title>
  <link rel="preload" href="fonts/DroidSans.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/DroidSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/RobotoCondensed-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/RobotoCondensed-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
