<header class="header">
  <div class="header-top">
    <div class="container">
      <p class="header-top-start">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/location.svg#svg-location"></use>
          </svg>
        </span>
        Клиника:
        <a href="index.html" class="btn btn-inherit @if(subindex === false){is-active text-underline}">
          На Красных Воротах
        </a>
        <a href="subindex.html?source_address=second-address" class="btn btn-inherit @if(subindex === true){is-active text-underline}">
          Хлебный переулок
        </a>
      </p>

      <p class="header-top-end"
        data-transfer-origin="header-top-end"
        data-transfer-breakpoint="1200">
        <span class="text-color-gray">Пн-Пт. с 9:00 до 21:00</span>

        @if(subindex === true) {
          <a href="tel:+79160818952" class="btn header-phone">
            +7 916 081 89 52
          </a>
        }

        @if(subindex === false) {
          <a href="tel:+79161061597" class="btn header-phone">
            +7 916 106-15-97
          </a>
        }
      </p>
    </div>
  </div>
  <div class="header-main">
    <div class="container">
      <a href="#" class="brand">
        <picture>
          <source srcset="img/logo.webp" type="image/webp">
          <img loading="lazy" src="img/logo.png" class="image" width="40" height="40" alt="Лого">
        </picture>
        <span>
          ДентаВита
        </span>
      </a>

      <nav class="header-main-nav">
        <ul class="list-reset navbar-nav"
          data-transfer-origin="navbar-nav"
          data-transfer-breakpoint="1200">
          <li class="nav-item">
            <button type="button" class="btn nav-link"
              data-scroll-target="#section1"
              data-bs-dismiss="offcanvas">
              Услуги
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn nav-link"
              data-scroll-target="#section2"
              data-bs-dismiss="offcanvas">
              Акции
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn nav-link"
              data-scroll-target="#section3"
              data-bs-dismiss="offcanvas">
              Преимущества
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn nav-link"
              data-scroll-target="#section4"
              data-bs-dismiss="offcanvas">
              Методы лечения
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn nav-link"
              data-scroll-target="#section5"
              data-bs-dismiss="offcanvas">
              Фото
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn nav-link"
              data-scroll-target="#section6"
              data-bs-dismiss="offcanvas">
              Врачи
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn nav-link"
              data-scroll-target="#section7"
              data-bs-dismiss="offcanvas">
              О нас
            </button>
          </li>
        </ul>

        <ul class="list-reset navbar-buttons"
          data-transfer-origin="navbar-buttons"
          data-transfer-breakpoint="1200"
          data-transfer-placement="first">
          <li class="nav-item">
            <a href="@if(subindex === false){https://wa.me/+74957349959}@if(subindex === true){https://wa.me/+79160818952}" target="_blank" class="btn btn-base btn-icon nav-link">
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
                </svg>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-base btn-icon-inverse btn-primary nav-link"
              data-bs-toggle="modal"
              data-bs-target="#modal-form">
              Записаться

              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/plus-circle.svg#svg-plus-circle"></use>
                </svg>
              </span>
            </button>
          </li>
        </ul>
      </nav>

      <div class="header-main-contacts"
        data-transfer-target="header-top-end"></div>

      <button class="btn btn-menu" type="button"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvas-navigation"
        aria-controls="Навигационное меню">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/menu.svg#svg-menu"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</header>
