<div class="modal modal-form fade" id="modal-form" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
				<span class="icon">
					<svg>
						<use xlink:href="img/icons/close.svg#svg-close"></use>
					</svg>
				</span>
			</button>

			<div class="modal-body">
				<form>
					<h2 class="form-title">
						Заказать звонок
					</h2>

					<div class="field-control">
						<div class="fieldset">
							<input type="text" class="field" name="name" placeholder="Введите имя" required>
						</div>
					</div>
					<div class="field-control">
						<div class="fieldset">
							<input type="tel" class="field" name="phone" placeholder="Ваш телефон" required>
						</div>
					</div>

					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" name="policy">
							<span>Соглашаюсь на обработку персональных данных</span>
						</label>
					</div>

					<div class="form-footer">
						<button type="submit" class="btn btn-xl btn-primary btn-submit">
							Записаться на консультацию
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>