<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-navigation">
  <div class="offcanvas-header">
    <button type="button" class="btn btn-base btn-icon btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
			<span class="icon">
				<svg>
					<use xlink:href="img/icons/close.svg#svg-close"></use>
				</svg>
			</span>
		</button>
  </div>
  <div class="offcanvas-body"
		data-transfer-target="navbar-nav">
		
  </div>

	<div class="offcanvas-footer"
		data-transfer-target="navbar-buttons header-top-end">

	</div>
</div>