<section id="section1" class="section favors">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">
        <span class="text-color-secondary text-placeholder">
          Наши услуги
        </span>
      </h2>
    </div>

    <ul id="accordion-favors" class="list-reset favors-list accordion">
      <li class="favors-item">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-favors-1"
              aria-expanded="true"
              aria-controls="collapse-favors-1">
              Первичный прием и диагностика

              <span class="icon accordion-button-icon">
                <svg>
                  <use xlink:href="img/icons/chevron-up.svg#svg-chevron-up"></use>
                </svg>
              </span>
            </button>
          </h2>
          <div id="collapse-favors-1" class="accordion-collapse collapse show"
            data-bs-parent="#accordion-favors">
            <div class="accordion-body">
              <div class="accordion-body-content">
                <picture>
                  <source srcset="img/favors/image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/favors/image-1.png" class="image" width="100" height="100" alt="Картинка">
                </picture>

                <ul class="list">
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Прием врача-стоматолога первичный: осмотр, фотопротокол, консультация, план лечения
                      </span>

                      <span>
                        2 050 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Высокоточное сканирование одного зубного ряда интраоральным сканером
                      </span>

                      <span>
                        5 150 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Коллегиальный план на комплексное лечение (консультации необходимых смежных специалистов, компьютерная томография)
                      </span>

                      <span>
                        6 200 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        КЛКТ
                      </span>

                      <span>
                        от 3 260 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Диагностика с применением артикулятора
                      </span>

                      <span>
                        15 500 ₽
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="favors-item">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-favors-2"
              aria-expanded="false"
              aria-controls="collapse-favors-2">
              Комфортное лечение в условиях седации

              <span class="icon accordion-button-icon">
                <svg>
                  <use xlink:href="img/icons/chevron-up.svg#svg-chevron-up"></use>
                </svg>
              </span>
            </button>
          </h2>
          <div id="collapse-favors-2" class="accordion-collapse collapse"
            data-bs-parent="#accordion-favors">
            <div class="accordion-body">
              <div class="accordion-body-content">
                <picture>
                  <source srcset="img/favors/image-2.webp" type="image/webp">
                  <img loading="lazy" src="img/favors/image-2.png" class="image" width="100" height="100" alt="Картинка">
                </picture>

                <ul class="list">
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Седация глубокая пропофол 30 минут
                      </span>

                      <span>
                        9 450 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Закись азота
                      </span>

                      <span>
                        6 300 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Севоран
                      </span>

                      <span>
                        11 030 ₽
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="favors-item">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-favors-3"
              aria-expanded="false"
              aria-controls="collapse-favors-3">
              Профилактика и эстетика

              <span class="icon accordion-button-icon">
                <svg>
                  <use xlink:href="img/icons/chevron-up.svg#svg-chevron-up"></use>
                </svg>
              </span>
            </button>
          </h2>
          <div id="collapse-favors-3" class="accordion-collapse collapse"
            data-bs-parent="#accordion-favors">
            <div class="accordion-body">
              <div class="accordion-body-content">
                <picture>
                  <source srcset="img/favors/image-3.webp" type="image/webp">
                  <img loading="lazy" src="img/favors/image-3.png" class="image" width="100" height="100" alt="Картинка">
                </picture>

                <ul class="list">
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Профессиональная гигиена полости рта и зубов
                      </span>

                      <span>
                        10 700 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Профессиональное отбеливание зубов  «ZOOM»/«FLASH»
                      </span>

                      <span>
                        42 110 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Лечение фиссурного кариеса/клиновидного дефекта
                      </span>

                      <span>
                        7 560 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Восстановление зуба пломбой (1 поверхность) с использование материалов из фотополимеров
                      </span>

                      <span>
                        12 390 ₽
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="favors-item">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-favors-4"
              aria-expanded="false"
              aria-controls="collapse-favors-4">
              Терапевтическое лечение с увеличением

              <span class="icon accordion-button-icon">
                <svg>
                  <use xlink:href="img/icons/chevron-up.svg#svg-chevron-up"></use>
                </svg>
              </span>
            </button>
          </h2>
          <div id="collapse-favors-4" class="accordion-collapse collapse"
            data-bs-parent="#accordion-favors">
            <div class="accordion-body">
              <div class="accordion-body-content">
                <picture>
                  <source srcset="img/favors/image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/favors/image-4.png" class="image" width="100" height="100" alt="Картинка">
                </picture>

                <ul class="list">
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Применение микроскопа при обработке плохопроходимых каналов со сложной анатомией зуба
                      </span>

                      <span>
                        10 290 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Применение микроскопа для оптимизации доступа при сложной анатомии зуба
                      </span>

                      <span>
                        5 670 ₽
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="favors-item">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-favors-5"
              aria-expanded="false"
              aria-controls="collapse-favors-5">
              Хирургия

              <span class="icon accordion-button-icon">
                <svg>
                  <use xlink:href="img/icons/chevron-up.svg#svg-chevron-up"></use>
                </svg>
              </span>
            </button>
          </h2>
          <div id="collapse-favors-5" class="accordion-collapse collapse"
            data-bs-parent="#accordion-favors">
            <div class="accordion-body">
              <div class="accordion-body-content">
                <picture>
                  <source srcset="img/favors/image-5.webp" type="image/webp">
                  <img loading="lazy" src="img/favors/image-5.png" class="image" width="100" height="100" alt="Картинка">
                </picture>

                <ul class="list">
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Удаление постоянного зуба А16.07.001.002
                      </span>

                      <span>
                        11 130 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Удаление зуба сложное А16.07.001.003 с разъединением корней
                      </span>

                      <span>
                        17 120 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Внутрикостная дентальная имплантация Dentium Implantium SuperLine/MIS/аналоги
                      </span>

                      <span>
                        59 700 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Внутрикостная дентальная имплантация Astra Tech/Nobel Biocare/Straumann/Xive/аналоги
                      </span>

                      <span>
                        84 500 ₽
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="favors-item">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-favors-6"
              aria-expanded="false"
              aria-controls="collapse-favors-6">
              Протезирование

              <span class="icon accordion-button-icon">
                <svg>
                  <use xlink:href="img/icons/chevron-up.svg#svg-chevron-up"></use>
                </svg>
              </span>
            </button>
          </h2>
          <div id="collapse-favors-6" class="accordion-collapse collapse"
            data-bs-parent="#accordion-favors">
            <div class="accordion-body">
              <div class="accordion-body-content">
                <picture>
                  <source srcset="img/favors/image-6.webp" type="image/webp">
                  <img loading="lazy" src="img/favors/image-6.png" class="image" width="100" height="100" alt="Картинка">
                </picture>

                <ul class="list">
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Коронка металлокерамическая с уступом и плечевой массой
                      </span>

                      <span>
                        37 280 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Коронка на основе диоксида циркония/коронка PRETTAU
                      </span>

                      <span>
                        90 200 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Керамическая коронка/винир/вкладка по методу E.MAX
                      </span>

                      <span>
                        65 420 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Коронка на имплантанте цельнокерамическая / из оксида циркония с винтовой фиксацией PRETTAU
                      </span>

                      <span>
                        112 200 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Полный съёмный протез с фиксацией на ball-аттачментах на 2 имплантатах
                      </span>

                      <span>
                        187 640 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        КОМПЛЕКС: установка имплантата Implantium – Ю. Корея, установка формирователя десны, коронка на основе оксида циркония
                      </span>

                      <span>
                        121 380 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        КОМПЛЕКС: установка имплантата Astra Tech – Швеция, установка формирователя десны, коронка на основе оксида циркония
                      </span>

                      <span>
                        167 160 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        КОМПЛЕКС: установка имплантата Straumann – Швейцария, установка формирователя десны, коронка на основе оксида циркония
                      </span>

                      <span>
                        167 160 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Второй ортопедический этап реабилитации при полной адентии, с фиксацией постоянного циркониевого протеза на титановой балке на имплантатах на 1 челюсть
                      </span>

                      <span>
                        682 500 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Второй ортопедический этап реабилитации при полной адентии, с фиксацией постоянного композитного протеза на титановой балке на имплантатах на 1 челюсть
                      </span>

                      <span>
                        367 500 ₽
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="favors-item">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse-favors-7"
              aria-expanded="false"
              aria-controls="collapse-favors-7">
              Ортодонтия и гнатология

              <span class="icon accordion-button-icon">
                <svg>
                  <use xlink:href="img/icons/chevron-up.svg#svg-chevron-up"></use>
                </svg>
              </span>
            </button>
          </h2>
          <div id="collapse-favors-7" class="accordion-collapse collapse"
            data-bs-parent="#accordion-favors">
            <div class="accordion-body">
              <div class="accordion-body-content">
                <picture>
                  <source srcset="img/favors/image-7.webp" type="image/webp">
                  <img loading="lazy" src="img/favors/image-7.png" class="image" width="100" height="100" alt="Картинка">
                </picture>

                <ul class="list">
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Ортодонтическая коррекция съемным ортодонтическим аппаратом - сплинт
                      </span>

                      <span>
                        60 000 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Высокоточное сканирование одного зубного ряда интраоральным сканером
                      </span>

                      <span>
                        5 150 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Ortho-Check 3D - диагностика, составление 3д плана лечения на элайнерах
                      </span>

                      <span>
                        50 820 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Ортодонтическое лечение на элайнерах - от 21 до 36 элайнеров (коррекции включены)
                      </span>

                      <span>
                        342 300 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Ортодонтическое лечение на элайнерах - от 37 штук (коррекции включены)
                      </span>

                      <span>
                        368 700 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Ортодонтическое лечение на элайнерах - более 50 этапов, 4 коррекции
                      </span>

                      <span>
                        470 510 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        Ортодонтическое лечение на элайнерах - менее 50 этапов, 3 коррекции
                      </span>

                      <span>
                        373 170 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        406 Фиксация брекет-системы безлигатурной керамической (DAMON  CLEAR) – 1 зубной ряд
                      </span>

                      <span>
                        162 230 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        407 Фиксация брекет-системы безлигатурной металлической (DAMON  Q) – 1 зубной ряд
                      </span>

                      <span>
                        146 060 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        408 Фиксация брекет-системы лигатурной/ безлигатурной керамической – 1 зубной ряд
                      </span>

                      <span>
                        141 230 ₽
                      </span>
                    </div>
                  </li>
                  <li class="list-item">
                    <div class="list-item-content">
                      <span>
                        409 Фиксация брекет-системы лигатурной /безлигатурной металлической – 1 зубной ряд
                      </span>

                      <span>
                        119 490 ₽
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
