<section id="section4" class="section trust">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">
        Почему ДентаВита доверяют уже более 28 лет
      </h2>
    </div>

    <div class="trust-content">
      <article class="trust-item">
        <h3 class="trust-item-title">
          <span class="text-color-secondary">
            Подробный план лечения
            <span class="text-placeholder">в первый визит</span>
          </span>
        </h3>

        <ol class="list-reset trust-visit">
          <li class="trust-visit-item">
            Количество посещений
          </li>
          <li class="trust-visit-item">
            Этапы работы
          </li>
          <li class="trust-visit-item">
            Общая стоимость
          </li>
        </ol>
      </article>

      <article class="trust-item">
        <h3 class="trust-item-title">
          Лечение во сне
        </h3>
        <p class="trust-item-subtitle">
          Максимально безопасная седация для тех, кто боится стоматологов
        </p>

        <ul class="list-reset trust-cure">
          <li class="trust-cure-item">
            <img loading="lazy" src="img/icons/moon.svg" class="image" width="24" height="24" alt="Иконка">

            Все лечение проходит пока Вы спите
          </li>
          <li class="trust-cure-item">
            <img loading="lazy" src="img/icons/cure.svg" class="image" width="24" height="24" alt="Иконка">

            Постлечебная поддержка. Седация под контролем клинических анастезеологов ведущих стационаров Москвы
          </li>
          <li class="trust-cure-item">
            <img loading="lazy" src="img/icons/call.svg" class="image" width="24" height="24" alt="Иконка">

            Для вас рекомендации докторов во время и после лечения
          </li>
        </ul>
      </article>

      <article class="trust-item trust-item--full">
        <h3 class="trust-item-title">
          Лучшие материалы от надежных производителей
        </h3>

        <div class="swiper-container trust-swiper">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <article class="trust-swiper-item">
                  <p>
                    Пломбировочные материалы от мировых лидеров: <span class="text-color-secondary">Estelite, Filtek</span>
                  </p>
                </article>
              </div>
              <div class="swiper-slide">
                <article class="trust-swiper-item">
                  <p>
                    Премиальные имплантацинные системы (<span class="text-color-secondary">Strauman - Astra</span>)
                  </p>
                </article>
              </div>
              <div class="swiper-slide">
                <article class="trust-swiper-item">
                  <p>
                    <span class="text-color-secondary">Emax, Цирконий.</span>
                    <br>
                    Надежно и эстетично
                  </p>
                </article>
              </div>
              <div class="swiper-slide">
                <article class="trust-swiper-item">
                  <p>
                    Все инновации ортодонтического лечения у нас
                  </p>
                </article>
              </div>
              <div class="swiper-slide">
                <picture class="trust-swiper-picture">
                  <source srcset="img/trust/image.webp" type="image/webp">
                  <img loading="lazy" src="img/trust/image.jpg" class="trust-swiper-image" width="256" height="220" alt="Картинка">
                </picture>
              </div>
            </div>
          </div>

          <div class="swiper-pagination"></div>
        </div>
      </article>

      <article class="trust-item trust-item--full trust-item--picture"
        data-transfer-target="trust-recovery-picture"></article>

      <article class="trust-item trust-item--full trust-item--recovery">
        <h3 class="trust-item-title">
          Восстановление функции и эстетики
        </h3>

        <div class="trust-recovery">
          <ul class="list-reset trust-recovery-list">
            <li class="trust-recovery-item">
              Используем различные методы для каждого случая
            </li>
            <li class="trust-recovery-item">
              Костные трансплантаты - создадим условия для имплантации
            </li>
            <li class="trust-recovery-item">
              Biomimetic dentistry - эстетика, приближенная к природе
            </li>
            <li class="trust-recovery-item">
              Минимально инвазивные техники (аккуратно и бережно)
            </li>
            <li class="trust-recovery-item">
              Реабилитация ВНЧС пациентов - лечим пациентов с заболеваниями височно-нижнечелюстного сустава
            </li>
          </ul>

          <picture
            data-transfer-origin="trust-recovery-picture"
            data-transfer-breakpoint="992">
            <source srcset="img/trust/recovery.webp" type="image/webp">
            <img loading="lazy" src="img/trust/recovery.jpg" class="trust-recovery-image" width="660" height="313" alt="Картинка">
          </picture>
        </div>
      </article>
    </div>
  </div>
</section>
