<section id="section3" class="section tech">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">
        <span class="text-color-secondary">
          Современная стоматология
        </span>
      </h2>

      <p class="section-subtitle">
        Наши врачи обеспечивают лечение высокого уровня, применяя новейшие достижения в области стоматологии и методы доказательной медицины.
      </p>
    </div>

    <div class="swiper-container tech-swiper">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="tech-swiper-item">
              <img loading="lazy" src="img/icons/tech.svg" class="tech-swiper-image" width="60" height="60" alt="Картинка">

              <p class="tech-swiper-text">
                Для максимально точного лечения используем дентальный микроскоп
              </p>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="tech-swiper-item">
              <img loading="lazy" src="img/icons/teeth.svg" class="tech-swiper-image" width="60" height="60" alt="Картинка">

              <p class="tech-swiper-text">
                Высокотехнологичные и безопасные методы диагностики
              </p>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="tech-swiper-item">
              <img loading="lazy" src="img/icons/call-2.svg" class="tech-swiper-image" width="60" height="60" alt="Картинка">

              <p class="tech-swiper-text">
                Мы всегда на связи для каждого пациента
              </p>
            </article>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>

    <div class="tech-content">
      <span class="blob-blur"></span>

      <div class="tech-content-header">
        <h3 class="tech-content-title">
          Передовые технологии
        </h3>
        <p class="tech-content-subtitle">
          Наши клиники применяют только новейшие медицинские технологии для диагностики, лечения и профилактики.
        </p>
      </div>

      <ul class="list-reset tech-list">
        <li class="tech-item">
          <div class="tech-item-info">
            <h4 class="tech-item-title">
              Прицельные и панорамные рентгеновские снимки и КТ
            </h4>
          </div>

          <picture>
            <source srcset="img/tech/image-1.webp" type="image/webp">
            <img loading="lazy" src="img/tech/image-1.png" class="tech-item-image" width="140" height="140" alt="Картинка">
          </picture>
        </li>
        <li class="tech-item">
          <div class="tech-item-info">
            <h4 class="tech-item-title">
              Вкладки, коронки
            </h4>
            <p class="tech-item-subtitle">
              И другие способы протезирования для восстановления зубного ряда.
            </p>
          </div>

          <picture>
            <source srcset="img/tech/image-2.webp" type="image/webp">
            <img loading="lazy" src="img/tech/image-2.png" class="tech-item-image" width="" height="" alt="Картинка">
          </picture>
        </li>
        <li class="tech-item">
          <div class="tech-item-info">
            <h4 class="tech-item-title">
              Высокоточное сканирование
            </h4>
          </div>

          <picture>
            <source srcset="img/tech/image-3.webp" type="image/webp">
            <img loading="lazy" src="img/tech/image-3.png" class="tech-item-image" width="90" height="90" alt="Картинка">
          </picture>
        </li>
        <li class="tech-item">
          <div class="tech-item-info">
            <h4 class="tech-item-title">
              Цифровое планирование лечения и сканирования
            </h4>
          </div>

          <picture>
            <source srcset="img/tech/image-4.webp" type="image/webp">
            <img loading="lazy" src="img/tech/image-4.png" class="tech-item-image" width="135" height="135" alt="Картинка">
          </picture>
        </li>
        <li class="tech-item">
          <div class="tech-item-info">
            <h4 class="tech-item-title">
              Микроскоп
            </h4>
          </div>

          <picture>
            <source srcset="img/tech/image-5.webp" type="image/webp">
            <img loading="lazy" src="img/tech/image-5.png" class="tech-item-image" width="75" height="75" alt="Картинка">
          </picture>
        </li>
        <li class="tech-item">
          <div class="tech-item-info">
            <h4 class="tech-item-title">
              Применяется современный протокол для оценки функции височно-нижнечелюстного сустава
            </h4>
          </div>

          <picture>
            <source srcset="img/tech/image-6.webp" type="image/webp">
            <img loading="lazy" src="img/tech/image-6.png" class="tech-item-image" width="175" height="175" alt="Картинка">
          </picture>
        </li>
        <li class="tech-item">
          <div class="tech-item-info">
            <h4 class="tech-item-title">
              Профессиональный фотопротокол
            </h4>
            <p class="tech-item-subtitle">
              "До" и "После" - Диагностика глазами доктора
            </p>
          </div>

          <picture>
            <source srcset="img/tech/image-7.webp" type="image/webp">
            <img loading="lazy" src="img/tech/image-7.png" class="tech-item-image" width="105" height="105" alt="Картинка">
          </picture>
        </li>
        <li class="tech-item">
          <div class="tech-item-info">
            <h4 class="tech-item-title">
              Диагностика
            </h4>
          </div>

          <picture>
            <source srcset="img/tech/image-8.webp" type="image/webp">
            <img loading="lazy" src="img/tech/image-8.png" class="tech-item-image" width="95" height="95" alt="Картинка">
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
