<section class="section callback">
  <div class="container">
    <div class="callback-content">
      <div class="callback-contacts">
        <h2 class="callback-title">
          Добро пожаловать <span class="text-color-secondary">в ДентаВита</span>
        </h2>

        <h3 class="callback-contacts-title">
          Контакты
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/phone.svg#svg-phone"></use>
            </svg>
          </span>
        </h3>

        <ul class="list-reset callback-contacts-list">
          <li class="callback-contacts-item">
            <h4 class="callback-contacts-item-title">
              Хлебный переулок
            </h4>
            <address class="callback-contacts-item-address">
              Хлебный переулок, д.2/3 стр.1:
            </address>
            <p class="callback-contacts-item-phones">
              Тел.:
              <span class="callback-contacts-item-phone">
                <a href="tel:+74957349959" class="btn btn-inherit">+7 (495) 734-99-59</a>
              </span>
            </p>
          </li>
          <li class="callback-contacts-item">
            <h4 class="callback-contacts-item-title">
              На Красных Воротах
            </h4>
            <address class="callback-contacts-item-address">
              Большой Козловский пер., д.7
            </address>
            <p class="callback-contacts-item-phones">
              Тел.:
              <span class="callback-contacts-item-phone">
                <a href="tel:+74952296720" class="btn btn-inherit">+7 (495) 229-67-20</a>
                <a href="tel:+74952296710" class="btn btn-inherit">+7 (495) 229-67-10</a>
              </span>
            </p>
          </li>
        </ul>
      </div>

      <form class="js-form-validate callback-form">
        <input type="hidden" name="source_address" required>
        <div class="field-control">
          <div class="fieldset">
            <input type="text" class="field" name="name" placeholder="Введите имя" required>
          </div>
        </div>
        <div class="field-control">
          <div class="fieldset">
            <input type="tel" class="field" name="phone" placeholder="Ваш телефон" required>
          </div>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="policy" required>
            <span>Соглашаюсь на обработку персональных данных</span>
          </label>
        </div>

        <div class="form-footer">
          <button type="submit" class="btn btn-xl btn-primary btn-submit">
            Записаться на консультацию
          </button>

          <a href="@if(subindex === false){https://wa.me/+79161061597}@if(subindex === true){https://wa.me/+79160818952}" target="_blank" class="btn btn-xl btn-icon">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
              </svg>
            </span>
          </a>
        </div>

        <picture>
          <source srcset="img/callback/image-1.webp" type="image/webp">
          <img loading="lazy" src="img/callback/image-1.png" class="callback-form-image" width="445" height="576" alt="Картинка">
        </picture>
      </form>
    </div>
  </div>
</section>
